
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>SENTIMENT ANALYSIS 1.1</title>
  </head>
  <body>
    <div class="container">
      <!-- <img src="../static/logo.png" alt="SENTIMENT ANALYSIS " class="logo" /> -->
      <form action="/submit" method="POST">
        <div class="form-group">
          <!-- <h3>ENTER COMMENTS TO PREDICT SENTIMENT OF USER</h3> -->
            {% if message =='positive'%}
              <img  src="../static/happy.png">
              <h1 style="text-align: center;">POSITIVE</h1>
            {% elif message == 'negative'%}
              <img src="../static/sad.png">
               <h1 style="text-align: center;">NEGATIVE</h1>
            {% else%}
            <img  src = "../static/ok.png">
             <h1 style="text-align: center;">NEUTRAL</h1>
            {% endif %}
        </div>
        <!-- <input type="submit" value="PREDICT" class="btn" /> -->
      </form>
    </div>
  </body>
</html>